<%= simple_form_for(@observation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id } %>

    <%= f.input :outing_id, :as => :hidden %>

     <%= f.input :catalog_name, collection: @catalogs, :selected => "NGC" %>

    <%= f.input :catalog_num %>

    <%= f.input :date_text %>

    <%= f.input :time_text %>

     <%= f.input :seeing, :collection => Observation::SEEING_HASH.sort.map {|k,v| [v,k]}  %>

    <%= f.input :transparency, :collection => Observation::TRANS_HASH.sort.map {|k,v| [v,k]} %>

    <%= f.label :telescope_id %>
    <%= f.collection_select :telescope_id , Telescope.all, :id, :telescope_name %>

    <%= f.label :eyepiece_id %>
    <%= f.collection_select :eyepiece_id, Eyepiece.all, :id, :eyepiece_name %>

    <%= f.input :filter_id %>

    <%= f.input :note %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

  <div class="button">
    <%= link_to "Done", outing_path(:id => @outing.id) %>
  </div>
<% end %>
