<table id="datatable" class="display">
  <thead>
    <tr>
      <th>Date</th>
      <th>Time</th>
      <th>Object</th>
      <th>AKA</th>
      <th>Description</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
      <th>&nbsp</th>
    </tr>
  </thead>
  <tbody>
    <% obs.each do |obs| %>
      <tr>
          <th><%= obs.obs_date.strftime("%m/%d/%y") %></th>
          <th><%= obs.obs_time.strftime("%H:%M") %></th>
          <th><%= obs.body.name %></th>
          <% unless obs.body.alt_name.blank? %>
            <th><%= obs.body.alt_name %></th>
          <% else %>
            <th>&nbsp</th>
          <% end -%>
          <th><%= obs.body.proper_name %></th>
          <th><%= link_to'Details', observation_path(:id => obs.id), class: "tabular small button" %></th>
          <th><%= link_to 'Edit', edit_outing_observation_path(obs.outing, obs), class: "tabular small button" %></th>
          <th><%= link_to 'Destroy', obs, method: :delete, data: { confirm: 'Are you sure?'}, class: "tabular small button" %></th>
      </tr>
    <% end %>
  </tbody>
</table>
