<h1>Listing observations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Sesssion</th>
      <th>Body</th>
      <th>Obs date</th>
      <th>Obs time</th>
      <th>Seeing</th>
      <th>Transparency</th>
      <th>Telescope</th>
      <th>Eyepiece</th>
      <th>Filter</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |observation| %>
      <tr>
        <td><%= observation.user_id %></td>
        <td><%= observation.sesssion_id %></td>
        <td><%= observation.body_id %></td>
        <td><%= observation.obs_date %></td>
        <td><%= observation.obs_time %></td>
        <td><%= observation.seeing %></td>
        <td><%= observation.transparency %></td>
        <td><%= observation.telescope_id %></td>
        <td><%= observation.eyepiece_id %></td>
        <td><%= observation.filter_id %></td>
        <td><%= observation.note %></td>
        <td><%= link_to 'Show', observation %></td>
        <td><%= link_to 'Edit', edit_observation_path(observation) %></td>
        <td><%= link_to 'Destroy', observation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation', new_observation_path %>
