<p id="notice"><%= notice %></p>
<h1><%= "#{@program.name} " %>Roster</h1>
<div class="row">
	<div class="small-4 columns">
		<%= "#{current_user.name}"	%>
	</div>
	<div class="small-4 columns">
		<div class="date">
			<%= "#{ Time.now.strftime("%m/%d/%y")}" %>
		</div>
	</div>
</div>

<div class="log">
	<% @progbods.each do |progbody| %>
		<% body = Body.find(progbody.body_id) %>
		<% progobs = nil %>
		<% progobs = ProgramObservation.where(program_id: @program.id, user_id: current_user.id, body_id: body.id).last %>
		<% unless progobs.blank? %>
			<%= render partial:  'layouts/observations', locals: {body: body, observation: progobs.observation } %>
		<% else %>
			<%= render partial: 'layouts/observations',  locals: {body: body, observation: Observation.new}  %>
		<% end %>
	<% end %>
	<% if  @print == :false%>
		<%= will_paginate @progbods  %>
	<% end %>
</div>
<div class="hide-for-print">
	<%= link_to "Format for Printing", program_path(@program, {:print=>"true"}), class: "secondary small button" %>
	<%= link_to 'Back', programs_path, class: "secondary small button"  %>
</div>
<div class="print-only">
	<hr>
	Produced by EZ Astronomy Log
</div>
