<%= simple_form_for(@outing) do |f| %>
  <%= f.error_notification %>


    <%= f.input :user_id ,:as => :hidden, :input_html => {:value => current_user.id } %>
<div class="row">
  <div class="small-3 columns">
    <%= f.input :outing_date, as: :date, html5: true, autofocus: true, label: "Date" %>
  </div>
  <div class="small-2 columns">
    <%= f.input :time_text, label: "Time-24 Format", placeholder: "HH:MM" %>
  </div>
  <div class="small-7 columns">
    <%= f.label :location_id %>
    <%= f.collection_select  :site_id, Site.where(user_id: :user_id), :id, :name %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= f.input :seeing, :collection => Observation::SEEING_HASH.sort.map {|k,v| [v,k]} %>
  </div>

  <div class="small-4 columns">
    <%= f.input :transparency, :collection => Observation::TRANS_HASH.sort.map {|k,v| [v,k]} %>
  </div>
  <div class="small-4 columns">
    <%= f.input :limiting_magnitude %>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= f.input :description %>
  </div>
</div>
  <div class="form-actions">
    <div class="small-3 columns">
      <%= f.button :submit, class: "secondary small button" %>
    </div>
  </div>
<% end %>
