<div class="row">
  <div class="small-1 columns">Date</div>
  <div class="small-1 columns">Time</div>
  <div class="small-3 columns">Site</div>
  <div class="small-1 columns">Seeing</div>
  <div class="small-1 columns">Trans</div>
  <div class="small-1 columns">NELM</div>
  <div class="small-1 columns"># Obs</div>
  <div class="small-3 columns">&nbsp</div>
</div>
<div class="row">
  <div class="small-1 columns"><%= @outing.outing_date.strftime("%y/%m/%d") %></div>
  <div class="small-1 columns"><%= @outing.outing_time.strftime("%H:%M") %></div>
  <div class="small-3 columns"><%= @outing.site.name %></div>
  <div class="small-1 columns"><%= @outing.seeing %></div>
  <div class="small-1 columns"><%= @outing.transparency %></div>
  <div class="small-1 columns"><%= @outing.limiting_magnitude %></div>
  <div class="small-1 columns"><%= @outing.observations.count %></div>
  <div class="small-1 columns"><%= link_to 'Details', @outing %></div>
  <div class="small-1 columns"><%= link_to 'Edit', edit_outing_path(@outing) %></div>
  <div class="small-1 columns"><%= link_to 'Destroy', @outing, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
<div class="row">
  <div class="large-12 columns"><%= @outing.description %></div>
</div>
<% if @outing.observations.count > 0 %>
  <h3>Observations</h3>
  <%= render partial: 'observations/observations', locals: { obs: @outing.observations} %>
<% else %>
  <h3>There are not observations tied to this outing</h3>
<% end %>
