<h3>&nbsp</h3>

<h1>Outings</h1>
<table id="datatable" class="display">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Site</th>
        <th>Seeing</th>
        <th>Trans</th>
        <th>NELM</th>
        <th># Obs</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
        <th>&nbsp</th>
    </tr>
  </thead>
 <tbody>
    <% @outings.each do |outing| %>
      <tr>
        <td><%= outing.outing_date.strftime("%m/%d/%y") %></td>
        <td><%= outing.outing_time.strftime("%H:%M") %></td>
        <td><%= outing.site.name %></td>
        <td><%= outing.seeing %></td>
        <td><%= outing.transparency %></td>
        <td><%= outing.limiting_magnitude %></td>
        <td><%= outing.observations.count %></td>
        <td><%= link_to "Details", outing, class: "tabular small button" %></td>
        <td><%= link_to 'Edit', edit_outing_path(outing), class: "tabular small button" %></td>
        <td><%= link_to 'Destroy', outing, method: :delete, data: { confirm: 'Are you sure?' }, class: "tabular small button" %></td>
      </tr>
   <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Outing', new_outing_path, class: "secondary small button" %>
