<%= simple_form_for(@telescope) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id } %>
    <div class="row">
      <div class="small-6 columns">
        <%= f.input :make , label: false, placeholder: "Manufacturer" %>
      </div>
      <div class="small-6 columns">
          <%= f.input :model, label: false, placeholder: "Model" %>
        </div>
      </div>

      <div class="row">
        <div class="small-4 columns">
          <%= f.input :diameter , label: false, placeholder: "Diameter in mm" %>
        </div>
        <div class="small-4 columns">
          <%= f.input :focal_length, label: false, placeholder: "Focal Length" %>
        </div>
        <div class="small-4 columns">
          <%= f.input :f_ratio, label: false, placeholder: "Focal Ratio" %>
        </div>

      </div>
  </div>

  <div class="form-actions">
    <div class="small-3 columns">
      <%= f.button :submit, class: "secondary small button" %>
    </div>
  </div>
<% end %>
