<%= simple_form_for(@filter) do |f| %>
  <%= f.error_notification %>

  <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>

  <div class="form-inputs">
    <div class="row">
        <div class="small-3 columns">
        &nbsp
      </div>
      <div class="small-3 columns">
        <%= f.input :make, label: false, placeholder: "Manufacturer" %>
      </div>
      <div class="small-3 columns">
        <%= f.input :model, label: false, placeholder: "Model" %>
      </div>
      <div class="small-3 columns">
        &nbsp
      </div>
  </div>
</div>

  <div class="form-actions">
    <div class="small-3 columns">
      <%= f.button :submit, class: "secondary small button" %>
    </div>
  </div>
<% end %>
