<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @filter.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @filter.model %>
</p>

<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
