  <table>
    <thead>
      <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Focal length</th>
        <th>Afov</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% ep = @user.eyepieces.order(:focal_length )%>
      <% ep.each do |eyepiece| %>
        <tr>
          <td><%= eyepiece.make %></td>
          <td><%= eyepiece.model %></td>
          <td><%= eyepiece.focal_length %></td>
          <td><%= eyepiece.afov %></td>
          <td><%= link_to 'Edit', edit_eyepiece_path(eyepiece), class: "tabular small button" %></td>
          <td><%= link_to 'Destroy', eyepiece, method: :delete, data: { confirm: 'Are you sure?' }, class: "tabular small button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
