  <table>
    <thread>
      <tr>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
      </tr>
    </thread>
    <tbody>
      <% @user.sites.each do |site| %>
        <tr>
          <td><%= site.name %></td>
          <td><%= site.latitude %></td>
          <td><%= site.longitude %></td>
          <td><%= site.description %></td>
          <td><%= link_to 'Edit', edit_site_path(site) %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
