  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Location Type</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @user.sites.each do |site| %>
        <tr>
          <td><%= site.name %></td>
          <td><%= site.location_type.name %>
          <td><%= site.latitude %></td>
          <td><%= site.longitude %></td>
          <td><%= site.description %></td>
          <td><%= link_to 'Edit', edit_site_path(site), class: "tabular small button" %></td>
          <td><%= link_to 'Destroy', site, method: :delete, data: { confirm: 'Are you sure?' }, class: "tabular small button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
